.container{
    width : 50%;
    margin : 20px auto ;
    font-family : Arial, sans-serif;
}

.acontainer{
   border : 1px solid black;
   margin-bottom : 20px;
   border-radius : 4px;
}

.header{
      background-color: aqua;
      color: red;
      padding : 20px;
      cursor : pointer;
      font-weight: bold;

}

.content{
    padding : 10px;
    font-size: 12px;
    color : #333;
    border-top : 1px solid #ccc;
    background-color: #fff;
}